<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Next Generation</title>
    <link rel="stylesheet" type="text/css" media="screen" href="mystyle.css">
</head>
<body>
<h1 align="center">Space Transporter</h1>
<table align="center">
    <tr>
        <th>Planet</th>
        <th>Population</th>
        <th>Spaceship location</th>
        <th>People on ship</th>
    </tr>
    <tr th:each="planet : ${planetList}" th:object="${planet}">
        <td th:text="*{name}"></td>
        <td th:text="*{population}"></td>
        <td>
            <div th:if="${spaceship.getPlanet().equals(planet.name)}">
                <a th:href="'/toplanet/' + *{id}">to planet</a>
                <a th:href="'/topship/' + *{id}">to ship</a>
            </div>
            <div th:unless="${spaceship.getPlanet().equals(planet.name)}">
                <form action="#" th:action="'/movehere/' + *{id}" method="post">
                    <input type="submit" value="Jump here"/>
                </form>
            </div>
        </td>
        <td th:if="${spaceship.getPlanet().equals(planet.name)}" th:text="${spaceship.getUtilization()}"></td>
    </tr>
</table>
</body>
</html>
